In [2]:
import pandas as pd
uniqlo = pd.read_csv('data/uniqlo.csv')
uniqlo.head()

,store_id,city,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost
0,658,深圳,线下,Female,25-29,Weekday,当季新品,4,796.0,4,4,59
1,146,杭州,线下,Female,25-29,Weekday,运动,1,149.0,1,1,49
2,70,深圳,线下,Male,>=60,Weekday,T恤,2,178.0,2,2,49
3,658,深圳,线下,Female,25-29,Weekday,T恤,1,59.0,1,1,49
4,229,深圳,线下,Male,20-24,Weekend,袜子,2,65.0,2,3,9

In [4]:
uniqlo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22293 entries, 0 to 22292
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store_id      22293 non-null  int64
 1   city          22293 non-null  object
 2   channel       22293 non-null  object
 3   gender_group  22293 non-null  object
 4   age_group     22293 non-null  object
 5   wkd_ind       22293 non-null  object
 6   product       22293 non-null  object
 7   customer      22293 non-null  int64
 8   revenue       22293 non-null  float64
 9   order         22293 non-null  int64
 10  quant         22293 non-null  int64
 11  unit_cost     22293 non-null  int64
dtypes: float64(1), int64(5), object(6)
memory usage: 2.0+ MB

In [6]:
uniqlo.describe()

,store_id,customer,revenue,order,quant,unit_cost
count,22293.000000,22293.000000,22293.000000,22293.000000,22293.000000,22293.000000
mean,335.391558,1.629480,159.531371,1.651998,1.858072,46.124658
std,230.236167,1.785605,276.254066,1.861480,2.347301,19.124347
min,19.000000,1.000000,-0.660000,1.000000,1.000000,9.000000
25%,142.000000,1.000000,64.000000,1.000000,1.000000,49.000000
50%,315.000000,1.000000,99.000000,1.000000,1.000000,49.000000
75%,480.000000,2.000000,175.000000,2.000000,2.000000,49.000000
max,831.000000,58.000000,12538.000000,65.000000,84.000000,99.000000

In [7]:
uniqlo.groupby('product')['store_id'].count().sort_values(ascending=False)

product
T恤      10610
当季新品     2540
袜子       2053
短裤       1694
配件       1572
牛仔裤      1412
运动        976
毛衣        807
裙子        629
Name: store_id, dtype: int64

In [9]:
uniqlo.pivot_table(index = 'product',values = 'quant',aggfunc = 'sum').sort_values(by=['quant'],ascending = False)

         quant
product
T恤       18425
当季新品      5338
配件        4622
袜子        3639
短裤        2821
牛仔裤       2432
运动        1794
毛衣        1356
裙子         995

In [10]:
uniqlo.pivot_table(index = 'product',columns=['city','channel'],values = 'quant',aggfunc='sum')

city      上海         北京   南京    广州         成都    杭州    武汉          深圳   西安  \
channel   线上    线下   线下   线下    线上   线下    线下    线下    线上    线下    线下   线上
product
T恤       591  1527  800  568  1087  594  1079  3100  1366  1598  3697  120
当季新品     177   373  188  266   273  186   329   840   328   534  1126   38
毛衣        27   104   37   44    85   64    92   238   115    87   248    5
牛仔裤       91   216   46   52   119   75   178   388   162   253   477   27
短裤       116   190   87   49   172   94   179   456   267   223   608   28
袜子       121   249  123  117   241  138   240   662   308   260   735   40
裙子        34    68   27   26    44   63    77   163    62   103   201   17
运动        42   129   31   17   107   67   125   351   103   179   364   25
配件       194   356  138  126   259  147   225   777   530   225  1046   51

city           重庆
channel    线下  线上    线下
product
T恤       1025  90  1183
当季新品      243  50   387
毛衣        100  16    94
牛仔裤       125  16   207
短裤        146  43   163
袜子        146  26   233
裙子         54   1    55
运动         93  18   143
配件        209  20   319